@model Apex_database.Models.Faehigkeit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Faehigkeit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CooldownSek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CooldownSek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charakter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charakter.CharakterId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FaehigkeitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
