@model IEnumerable<Apex_database.Models.HeilItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeilungHp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeilungSchild)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnwendungsdauerSek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeilungHp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeilungSchild)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnwendungsdauerSek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HeilId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HeilId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HeilId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
